# Core functionality - changes here should be rare!
/src/app.py                   @askar1212
/src/backend/database.py      @askar1212
/src/backend/routers/auth.py  @askar1212

# The frontend will need refactored soon to be more object oriented.
/src/static/   @askar1212
